/* Fixes Tailwind overriding margin on the first child */
.tiptap:first-child {
  margin-top: 0 !important;
}

/* Heading styles */
.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 0.8 !important;
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  line-height: 1.3 !important;
  margin-top: 1.5rem !important;
  margin-bottom: 1rem !important;
}

.tiptap p {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  font-size: 0.8rem !important;
}

.tiptap img {
  display: block !important;
  margin: 1.5rem auto !important;
  max-width: 100% !important;
}
.tiptap a {
  color: rgb(61, 61, 255) !important;
  cursor: pointer !important;
}

/* List styles */
.tiptap ul,
.tiptap ol {
  padding: 0 1rem !important;
  margin: 1.25rem 1rem 1.25rem 0.4rem !important;
  direction: ltr !important;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}

.tiptap ul:has([dir="rtl"]),
.tiptap ol:has([dir="rtl"]) {
  direction: rtl !important;
}

.tiptap h1 {
  font-size: 1.8rem !important;
}

.tiptap h2 {
  font-size: 1.6rem !important;
}

.tiptap h3 {
  font-size: 1.4rem !important;
}

.tiptap h4 {
  font-size: 1.3rem !important;
}
.tiptap h5 {
  font-size: 1.2rem !important;
}

.tiptap h6 {
  font-size: 1.1rem !important;
}

/* Code and preformatted text styles */

.tiptap pre {
  background: var(--black) !important;
  border-radius: 0.5rem !important;
  color: var(--white) !important;
  font-family: "JetBrainsMono", monospace !important;
  margin: 1.5rem 0 !important;
  padding: 0.75rem 1rem !important;
}

.tiptap pre code {
  background: none !important;
  color: inherit !important;
  font-size: 0.8rem !important;
  padding: 0 !important;
}

/* Blockquote styles */
.tiptap blockquote {
  border-left: 3px solid rgb(180, 174, 174) !important;
  margin: 1.5rem 0 !important;
  padding-left: 1rem !important;
}
.tiptap blockquote:has([dir="rtl"]) {
  border-right: 3px solid rgb(180, 174, 174) !important;
  padding: 0 1rem 0 0 !important;
  border-left: none !important;
}
/* Horizontal rule styles */
.tiptap hr {
  border: none !important;
  border-top: 1px solid #dddddd !important;
  margin: 2rem 0 !important;
}

/* Fixes Tailwind resetting list styles */
.tiptap ul {
  list-style-type: disc !important; /* Ensures bullets appear */
  padding-left: 1.5rem !important; /* Adjust indentation */
}

.tiptap ol {
  list-style-type: decimal !important; /* Ensures numbers appear */
  padding-left: 1.5rem !important;
  text-align: right;
}
